.header {
  padding: 20px;
  background-color: rgb(255, 191, 203);
  border-radius: 5px;
  margin-bottom: 30px;
  border: 1px solid white;

  display: flex;
  align-items: center;
  max-width: 1700px;
  justify-content: space-between;
  margin: 0 auto 20px auto;
}
