.header {
  padding: 15px;
  /* background-color: rgb(255, 191, 203); */
  /* background-color: rgb(246, 226, 180); */
  /* border-radius: 5px; */
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  /* box-shadow: 0px 3px 20px 1px grey; */

  display: flex;
  align-items: center;
  max-width: 1700px;
  justify-content: space-between;
  margin: 0 auto 40px auto;
}

.logo {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: bold;
}
