.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* .nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
} */

.link {
  color: rgb(37, 35, 29);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  background-color: rgb(37, 35, 29);
  color: white;
  border: 1px solid rgb(37, 35, 29);
  padding: 7px;
  border-radius: 5px;
  &:hover {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
