.auth {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  color: rgb(61, 23, 4);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: white;
  border: 1px solid white;
  padding: 7px;
  border-radius: 5px;
  box-shadow: rgba(231, 222, 222, 0.56) 0px 8px 70px 4px;
  &:hover {
    background-color: rgba(231, 222, 222, 0.329);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
