.wrap {
  max-width: 670px;
  background-color: papayawhip;
  /* background-color: rgb(246, 226, 180); */
  padding: 30px;
  border-radius: 10px;
  margin: 0 auto;
}

.info {
  text-align: left;
}

.head {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Old Standard TT", system-ui;
  font-weight: 700;
  font-style: normal;
}
