.wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  button {
    /* background-color: rgb(176, 172, 160); */
    /* background-color: rgb(179, 169, 152); */
    background-color: rgb(102, 94, 79);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px;
  }
  & button:hover {
    background-color: rgb(37, 35, 29);
  }
}
